<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dyncRTCMsgClient.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E6390BD81C28E44400AE4DD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6A882D31C366516005C619C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6A885E21C3696D5005C619C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6B625F71C2963A50014BED5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6B626241C2979F90014BED5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6B6262E1C2979FA0014BED5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6B6263F1C297A4F0014BED5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6B626491C297A4F0014BED5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6B6267C1C2982390014BED5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6B626861C2982390014BED5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
