*.o
*.DS_Store
*.obj
*.Po
*.bz2
*.o.d
*.d
*.bak
*.a
*.log
*.status
*.in
*.cache
*.so
Makefile
output.0
traces.0
traces.1
requests
.run_build.sh
tags
*.conf
MsgServer/MsgServerConnector/MsgServerConnector
MsgServer/MsgServerConnector/connector/bin
MsgServer/MsgServerDispatcher/MsgServerDispatcher
MsgServer/MsgServerDispatcher/dispatcher/bin
MsgServer/MsgServerMeeting/MsgServerMeeting
MsgServer/MsgServerMeeting/meeting/bin
