<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MSCommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>MsgServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MsgServerConnector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MsgServerDispatcher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>MsgServerMeeting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E66B599E1C4A50360053161E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E66B59AC1C4A506D0053161E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E66B59B71C4A50C90053161E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E66B59C21C4A50F10053161E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E66B59CD1C4A516B0053161E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
