<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SdkMsgClientIos.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>msgclient.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>msgclientall.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>protobuf.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D38013B1C5DA07200138CF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E65B51AB1C30095B00A5DE53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E65B51B61C30095B00A5DE53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E674DD871CD9F6A3001C2D6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E674DEDE1CD9FFD7001C2D6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6A883081C366B62005C619C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6C0F1EA1C96EAA400C66EC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6C0F1FC1C96EBB200C66EC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
